<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <!-- Basic Form-->

            <div class="col-lg-2 mb-5"></div>
            <!-- Inline Form-->
            <div class="col-lg-8 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Create Student</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inlineFormInput" class="sr-only">RollNumber</label>
                                <input id="inlineFormInput" type="text" placeholder="RollNumber" class="mr-3 form-control">
                            </div>
                            <div class="form-group">
                                <label for="inlineFormInput" class="sr-only">Name</label>
                                <input id="inlineFormInput" type="text" placeholder="Student Name" class="mr-3 form-control">
                            </div>
                            <div class="form-group">
                                <label for="inlineFormInputGroup" class="sr-only">Avatar</label>
                                <input id="inlineFormInputGroup" type="text" placeholder="Avatar" class="mr-3 form-control">
                            </div>
                            <br /><br /><br /><br /><br />
                            <div class="form-group">
                                <label for="inlineFormInput" class="sr-only">Brith Day</label>
                                <input id="inlineFormInput" type="text" placeholder="Brith Day" class="mr-3 form-control">
                            </div>
                            <div class="form-group">
                                <label for="inlineFormInput" class="sr-only">Email</label>
                                <input id="inlineFormInput" type="text" placeholder="Email" class="mr-3 form-control">
                            </div>
                            <div class="form-group">
                                <label for="inlineFormInput" class="sr-only">Phone</label>
                                <input id="inlineFormInput" type="text" placeholder="Phone" class="mr-3 form-control">
                            </div>
                            <br /><br /><br /><br /><br />


                        </form>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <!-- Modal Form-->
            <div class="col-lg-2 mb-5">
            </div>
            <!-- Form Elements -->

        </div>
    </section>
</div>